<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    padding-bottom: 25px;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 600;
    /* background: radial-gradient(#ffe6bd, #ffff) */
  }

  .toolbar img {
    margin: 0 16px;
  }


  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }
  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

form { width: 400px;border-radius: 25px; }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

</style>
<!-- Toolbar -->
<body>
<div class="popupContainer">
  <div class="toolbar pt-5">
      <div class="flex w-16 ">
        <img src="../assets/icon.png"  width="40">
        </div>
        <div class="flex-auto w-48">
          <p class="text-2xl">Flashbots</p>
        </div>
        <div class="flex-auto w-32">
          <div class="col-span-6 sm:col-span-3 pr-5">
            <select id="country" name="country" autocomplete="country-name" class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <!-- <option>Mainnet</option> -->
              <option>Goerli</option>
            </select>
        </div>
      </div>
  </div>
  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-0">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>
  <form [formGroup]="myGroup" (ngSubmit)="this.handleSubmit()">
    <div class="form">
      <div class="mt-10 sm:mt-20">
        <div class="md:grid md:grid-cols-3 md:gap-6">
          <div class="mt-5 md:mt-0 md:col-span-2">
              <div class="shadow overflow-hidden sm:rounded-md">
                <div class="px-4 py-5 sm:p-6">
                  <div class="grid grid-cols-6 gap-6">
                    <div class="form-group col-span-6 sm:col-span-3">
                      <label for="privateKey" class="label-control block text-sm font-medium text-gray-700">PrivateKey:</label>
                      <input type="password"formControlName="privateKey" name="privateKey" id="privateKey" class="mt-1 focus:ring-indigo-500 border-black focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>
                    <div class="form-group col-span-6 sm:col-span-3">
                      <label for="to" class="label-control block text-sm font-medium text-gray-700">To:</label>
                      <input type="text" formControlName="to" name="to" id="to" autocomplete="accTo" class="mt-1 focus:ring-indigo-500 border-black focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>

                    <div class="form-group col-span-6 sm:col-span-3">
                      <label for="value" class="label-control block text-sm font-medium text-gray-700">Value:</label>
                      <input type="text" formControlName="value" name="value" id="value" autocomplete="value" class="mt-1 focus:ring-indigo-500 border-black focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>

                    <div class="form-group col-span-6 sm:col-span-3">
                      <label for="transactionType" class="label-control block text-sm font-medium text-gray-700">Transaction Type:</label>
                      <input type="transactionType" formControlName="transactionType" name="transactionType" id="transactionType" autocomplete="transactionType" class="mt-1 focus:ring-indigo-500 border-black focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>

                    <div class="form-group col-span-6">
                      <label for="maxFeePerGas" class="label-control block text-sm font-medium text-gray-700">MaxFeePerGas</label>
                      <input type="text" formControlName="maxFeePerGas" name="maxFeePerGas" id="maxFeePerGas" autocomplete="maxFeePerGas" class="mt-1 focus:ring-indigo-500 border-black focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>

                    <div class="form-group col-span-6 sm:col-span-6 lg:col-span-2">
                      <label for="maxPriorityFeePerGas" class="label-control block text-sm font-medium text-gray-700">MaxPriorityFeePerGas:</label>
                      <input type="text" formControlName="maxPriorityFeePerGas" name="maxPriorityFeePerGas" id="maxPriorityFeePerGas" autocomplete="maxPriorityFeePerGas" class="mt-1 focus:ring-indigo-500 border-black focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>

                    <div class="form-group col-span-6 sm:col-span-3 lg:col-span-2">
                      <label for="data" class="label-control block text-sm font-medium text-gray-700">Data:</label>
                      <input type="text" formControlName="data" name="data" id="data" autocomplete="address-level1" class="mt-1 focus:ring-indigo-500 border-black focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>
                  </div>
                </div>
                <div class="px-4 py-3 text-right sm:px-6">
                  <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Send
                  </button>
                  <app-loader *ngIf="this.flashbotsService.loading"></app-loader>
                  <app-success-modal *ngIf="this.flashbotsService.successModal"></app-success-modal>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</body>
<router-outlet></router-outlet>
